/* .drink-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: white;
}
div button:hover {
    border-color: rgb(48, 241, 58);
} */
